.article_grid {
    display: grid;
    grid-template: 
        ".      source" min-content
        "media  text"   min-content
        ".      date"   min-content  / 100px auto;  
    row-gap: 8px;
    column-gap: 12px;

    & p{
        margin: 0;
    }
}

.article_media {
    grid-area: media;
    max-width: 100px;
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.article_text {
    grid-area: text;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-align: start;
}

.article_source {
    grid-area: source;
    font-size: 14px;
    font-weight: 800;
    color: rgba(9, 111, 250, 1);
    text-decoration: none;
    text-align: start;
}

.article_source:hover {
    text-decoration: none;
}

.article_date {
    grid-area: date;
    color: rgba(109, 120, 122, 1);
    font-size: 14px;
    text-align: start;
}